<%- include('partials/header') %>

<%- include('partials/navbar') %>

<div id="profile">
  <div class="container">
    <div class="starter-template text-center py-5 px-3 w-100">
      <h1><%= userProfile.username %></h1>
    </div>

    <% if (clientData._id.toString() == userProfile._id.toString()) { %>
      <%- include('partials/create-post') %>
    <% } %>

    <div class="stackBox">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-secondary" href="/users/<%= userProfile._id %>">General</a>
        <% foundStacks.forEach(stack => { %>
        <a class="btn btn-secondary" href="/users/<%= userProfile._id %>/stacks/<%= stack.stackName %>"><%= stack.stackName %></a>
        <% }) %>
        <% if (clientData._id.toString() == userProfile._id.toString()) { %>
          <%- include('partials/create-stack') %>
        <% } %>
      </div>
    </div>

    <% foundPosts.forEach((item,idx) => { %>
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h5><%= item.title %></h5>
        <p><%= timeAgoArray[idx] %></p>
      </div>
      <div class="card-body">
        <p><%= item.body %></p>
      </div>
      <div class="card-body postBox">
        <p><%= item.status %> | <%= item.stack %></p>
        <div class="social-icons d-flex justify-content-between">
          <!-- <form action="/lounge/<%= item._id %>" method="post">
            <p> <%= item.action.likes %> <button class="likeButton" type="submit" name="submitLike"><i class="far fa-thumbs-up"></i></button></p>
            <p> <%= item.action.dislikes %> <button class="likeButton" type="submit" name="submitDislike"><i class="far fa-thumbs-down"></i></button></p>
          </form> -->
          <p> <%= item.action.comments.length %>
            <a class="commentLink" data-bs-toggle="collapse" href="#commentBox<%= item._id %>" role="button" aria-expanded="false" aria-controls="commentBox<%= item._id %>">
              <i class="far fa-comment"></i>
            </a>
          </p>
        </div>
      </div>
      <div class="collapse commentContainer" id="commentBox<%= item._id %>">
        <% item.action.comments.forEach(com => { %>
        <div class="card commentCard">
          <h5><%= com.userNickName %></h5>
          <p><%= com.comment %></p>
        </div>
        <% }) %>
        <form action="/lounge/<%= item._id %>" method="post">
          <div class="card">
            <textarea class="newPost" name="postComment" rows="4" cols="80"></textarea>
          </div>
          <button class="btn btn-primary" type="submit" name="submitComment">Submit Comment</button>
        </form>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%- include('partials/footer') %>
